body {
   &::before {
      content: '';
      position: absolute;
      padding: 10rem;
      bottom: -16rem;
      left: -16rem;
      background: var(--aux-color);
      border-radius: 50%;
      filter: blur(8rem);
      z-index: -100000;
   }

   &::after {
      content: '';
      position: absolute;
      padding: 10rem;
      left: -16rem;
      bottom: -160rem;
      background: var(--first-color);
      border-radius: 50%;
      filter: blur(8rem);
      z-index: -100000;
   }

}

.container {
   max-width: 968px;
   padding: 0 1rem;
}

.grid {
   display: grid;
   gap: 1.25rem;
}

.main {
   overflow: hidden;
}

.section {
   padding: 4rem 0;
}

.section__title,
.section__subtitle {
   text-align: center;
}

.section__title {
   font-size: var(--h2-font-size);
   color: var(--first-color);
   margin-bottom: 2rem;
}

.section__subtitle {
   display: block;
   font-size: var(--smaller-font-size);
   color: var(--text-color-light);
}