@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

html {
   scroll-behavior: smooth;
}

body,
button,
input,
textarea {
   font-family: var(--body-font);
   font-size: var(--normal-font-size);
}

body {
   background-color: var(--body-color);
   color: var(--text-color);
   transition: .4s; /* for light mode animation */
}
 
h1, h2, h3 {
   color: var(--title-color);
   font-weight: var(--font-semibold);
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
   cursor: pointer;
}

button {
   cursor: pointer;
}

img {
   max-width: 100%;
   height: auto;
}

::-webkit-scrollbar
{
  width: .6rem; 
  border-radius: .5rem; 
  background-color: hsl(var(--second-hue), 8%, 38%);
}
::-webkit-scrollbar-thumb
{
  background-color: hsl(var(--second-hue), 8%, 26%);
  border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover
{
  background-color: hsl(var(--second-hue), 8%, 20%);
}