/*=============== ABOUT ===============*/
.about__container
{
  row-gap: 2.5rem;
}
.about__img
{
  width: 220px;
  border-radius: 1.5rem;
  justify-self: center;
}
.about__data
{ 
  text-align: center;
}
.about__info
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .5rem;
  margin-bottom: 2rem;
}
.about__box
{
  background-color: var(--container-color);
  border-radius: .75rem;
  padding: .75rem .5rem;
}
.about__icon
{
  font-size: 1.5rem;
  color: var(--first-color);
  margin-bottom: .5rem;
}
.about__title
{
  font-size: var(--small-font-size);
}
.about__subtitle
{
  font-size: var(--tiny-font-size);
}
.about__description
{
  margin-bottom: 2rem;
}