/* For small devices */
@media screen and (max-width: 320px) {
   .nav__menu
   { 
   padding: 1rem 1.5rem; 
   }
   .home__buttons 
   { 
   flex-direction: column; 
   } 
   .home__handle
   { 
   width: 150px; 
   height: 253px; 
   } 
   .home__img
   {
   width: 130px;
   }
   .about__info
   {
   grid-template-columns: repeat(2, 1fr);
   }

   .skills__title{
   font-size: var(--normal-font-size);
   }
   .services__container
   {
   grid-template-columns: 145px;
   justify-content: center;
   }
   .work__item
   {
   font-size: var(--small-font-size);
   }
   .work__filters
   {
   column-gap: .25rem;
   }
}

/* For medium devices */
@media screen and (min-width: 576px) {
   .nav__menu
   {
   width: 328px;
   left: 0; right: 0;
   margin: 0 auto;
   }
   .about__info
   {
   grid-template-columns: repeat(3, 140px);
   justify-content: center;
   }
   .about__description
   {
   padding: 0 5rem;
   }
   
   .skills__container
   {
   grid-template-columns: repeat(2, 1fr);
   }

   .services__container
   {
   grid-template-columns: repeat(2, 160px);
   justify-content: center;
   }
   .services__modal-content
   {
   width: 500px;
   padding: 4.5rem 2.5rem 2.5rem;
   }
   .services__modal-description
   {
   padding: 0 3.5rem;
   }
   .work__container
   {
   justify-content: center;
   }
   .work__img
   {
   width: 295px;
   }
   .contact__info
   {
   grid-template-columns: 300px;
   justify-content: center;
   }
   .contact__form
   {
   width: 360px;
   margin: 0 auto;
   }
}

@media screen and (min-width: 767px) {
   .work__container
   {
   grid-template-columns: repeat(2, max-content);
   }
   .contact__container
   {
   grid-template-columns: repeat(2, max-content);
   justify-content: center;
   column-gap: 3rem;
   }
}

/* For large devices */
@media screen and (min-width: 992px) {
   .container
   {
   margin-left: auto;
   margin-right: auto;
   }
   .section
   {
   padding: 6.5rem 0 1rem;
   }
   .section__title
   {
   margin-bottom: 3.5rem;
   }
   .nav
   {
   height: calc(var(--header-height) + 1rem);
   }
   .home__handle
   {
   width: 290px;
   height: 400px;
   }
   .home__img
   {
   width: 220px;
   }
   .home__social-link
   {
   padding: .4rem;
   font-size: 1.25rem;
   }
   .home__social::after
   {
   transform: rotate(90deg) translate(16px, 0);
   }
   .home__scroll-icon
   {
   font-size: 2rem;
   }
   .about__container
   {
   grid-template-columns: repeat(2, 1fr);
   align-items: center;
   column-gap: 4rem;
   }
   .about__img
   {
   width: 350px;
   }
   .about__data
   {
   text-align: initial;
   }
   .about__info
   {
   justify-content: initial;
   }
   .about__box
   {
   text-align: center;
   padding: 1rem 1.25rem;
   }
   .about__description
   {
   padding: 0 4rem 0 0;
   margin-bottom: 2.5rem;
   }

   .services__container
   {
   grid-template-columns: repeat(3, 192px);
   column-gap: 3rem;
   }
   .services__card
   {
   padding: 5rem 2rem 1.5rem;
   }
   .work__container
   {
   gap: 3rem;
   }
   .work__card
   {
   padding: 1.25rem;
   }
   .work__img
   {
   margin-bottom: 1rem;
   }
   .work__title
   {
   margin-bottom: .5rem;
   }
   .testimonial__container
   {
   width: 750px;
   }
   .testimonial__card
   {
   padding: 1.5rem 2rem;
   }
   .contact__container
   {
   column-gap: 6rem;
   }
   .footer__social-link
   {
   font-size: 1.25rem;
   padding: .4rem;
   border-radius: .5rem;
   } 
}