.work__container
{ 
  padding-top: 1rem;
}

.work__filters
{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .75rem;
  margin-bottom: 2rem;
}
.work__item
{
  cursor: pointer;
  color: var(--title-color);
  padding: .25rem .75rem;
  font-weight: var(--font-medium);
  border-radius: .5rem;
}
.work__card
{
  background-color: var(--container-color);
  padding: 1rem;
  border-radius: 1rem;
}
.work__img
{
  border-radius: 1rem;
  margin-bottom: .75rem;
}
.work__title
{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: .25rem;
}
.work__button
{
  width: max-content;
  color: var(--first-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  column-gap: .25rem;
}
.work__button:hover .work__icon
{ 
  transform: translateX(.25rem); 
}
.work__icon
{
  font-size: 1rem;
  transition: .4s;
}

/* Active item work*/
.active-work
{
  background-color: var(--first-color);
  color: var(--body-color);
}