@import url("https://fonts.googleapis.com/css?family=Nunito");
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /*
        Purple: hsl(250, 66%, 75%)
        Blue: hsl(207, 90%, 72%)
        Pink: hsl(356, 66%, 75%)
        Teal: hsl(174, 63%, 62%)
  */
  --first-hue: 220;
  --second-hue: 219;
  --sat: 80%;
  --lig: 60%;
  --aux-hue: 168;
  --aux-sat: 83%;
  --aux-lig: 50%;
  --first-color: hsl(var(--first-hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--first-hue), var(--sat), 71%); /* -4% */
  --first-color-lighter: hsl(var(--first-hue), var(--sat), 90%);
  --aux-color: hsl(var(--aux-hue), var(--aux-sat), var(--aux-lig));
  --title-color: hsl(var(--second-hue), 15%, 95%);
  --text-color: hsl(var(--second-hue), 8%, 75%);
  --text-color-light: hsl(var(--second-hue), 4%, 55%);
  --body-color: hsl(var(--second-hue), 48%, 10%);
  --container-color: hsl(var(--second-hue), 32%, 12%);
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .625rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semibold: 600;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 10000;
  /*========== INDICATOR ==========*/
  --tab-indicator-width: 2.8rem;
  --tab-indicator-height: 1.5rem;
  --tab-item-inner: 2.2rem;
  /*========== CHANGE BRAND/SLOGAN HEADER ==========*/
  --display-brand_dark: block;
  --display-brand_light: none;
  --color-slogan: var(--aux-color);
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}
/*========== Variables Light theme ==========*/
body.light-theme {
  --title-color: hsl(var(--second-hue), 15%, 15%);
  --text-color: hsl(var(--second-hue), 8%, 35%);
  --body-color: hsl(var(--second-hue), 80%, 98%);
  --container-color: #fff;
  --display-brand_dark: none;
  --display-brand_light: block;
  --color-slogan: var(--first-color);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.4s; /* for light mode animation */
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(var(--second-hue), 8%, 38%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--second-hue), 8%, 26%);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--second-hue), 8%, 20%);
}

/* Color changes in some parts of 
the website, in light theme */
.light-theme .scroll-header {
  box-shadow: 0 2px 4px hsla(0deg, 0%, 1%, 0.1);
}

.light-theme .nav__menu {
  background-color: hsla(var(--second-hue), 32%, 90%, 0.8);
}

.light-theme .section__subtitle {
  color: var(--text-color);
}

.light-theme .home__social-link {
  box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, 0.1);
}

.light-theme .home__social::after,
.light-theme .footer__social-link {
  background-color: var(--title-color);
}

.light-theme .home__social-link,
.light-theme .home__scroll,
.light-theme .button,
.light-theme .button:hover,
.light-theme .active-work,
.light-theme .footer__title,
.light-theme .footer__link,
.light-theme .footer__copy {
  color: var(--title-color);
}

.light-theme .about__box {
  box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, 0.1);
}

.skills__content,
.services__card,
.work__card,
.testimonial__card,
.contact__card,
.light-theme .skills__content,
.light-theme .services__card,
.light-theme .work__card,
.light-theme .testimonial__card,
.light-theme .contact__card {
  box-shadow: 2px 4px 5px hsla(var(--second-hue), 48%, 8%, 0.2);
}

.light-theme::-webkit-scrollbar {
  background-color: hsl(var(--second-hue), 8%, 66%);
}

.light-theme::-webkit-scrollbar-thumb {
  background-color: hsl(var(--second-hue), 8%, 54%);
}

.light-theme::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--second-hue), 8%, 44%);
}

.light-theme .services__modal-title {
  color: var(--first-color);
}

body::before {
  content: "";
  position: absolute;
  padding: 10rem;
  bottom: -16rem;
  left: -16rem;
  background: var(--aux-color);
  border-radius: 50%;
  filter: blur(8rem);
  z-index: -100000;
}
body::after {
  content: "";
  position: absolute;
  padding: 10rem;
  left: -16rem;
  bottom: -160rem;
  background: var(--first-color);
  border-radius: 50%;
  filter: blur(8rem);
  z-index: -100000;
}

.container {
  max-width: 968px;
  padding: 0 1rem;
}

.grid {
  display: grid;
  gap: 1.25rem;
}

.main {
  overflow: hidden;
}

.section {
  padding: 4rem 0;
}

.section__title,
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: 2rem;
}

.section__subtitle {
  display: block;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--body-color);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
  transition: 0.4s;
}

.button:hover {
  background-color: var(--first-color-alt);
  color: var(--body-color);
}

.button--ghost {
  background-color: transparent;
  border: 2px solid var(--first-color);
  color: var(--first-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: 0.4s; /* light mode animatio */
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__brand {
  transform: scale(0.75);
}

.nav__brand.brand_dark {
  display: var(--display-brand_dark);
}

.nav__brand.brand_light {
  display: var(--display-brand_light);
}

.nav__logo {
  display: flex;
  align-items: center;
  color: var(--color-slogan);
  font-weight: var(--font-semibold);
  transition: 0.4s;
}

.nav__logo:hover {
  color: var(--first-color-alt);
}

.nav__menu {
  position: fixed;
  bottom: 1rem;
  background-color: hsla(var(--second-hue), 32%, 16%, 0.8);
  width: 90%;
  border-radius: 0.5rem;
  padding: 1rem 2.25rem;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: 0.4s; /* light mode animatio */
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list .nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  padding: 0.4rem;
  color: var(--text-color);
  /* Active link */
}
.nav__list .nav__link .tab-item-inner {
  position: absolute;
  display: flex;
  height: var(--tab-item-inner);
  width: var(--tab-item-inner);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
.nav__list .nav__link:hover {
  z-index: 2;
  color: var(--title-color);
  box-shadow: 0 -5px 16px hsla(var(--first-hue), var(--sat), var(--lig), 0.4);
  transition: 0.4s;
  transition-delay: 0.1s;
}
.nav__list .nav__link.active {
  background: linear-gradient(180deg, hsla(var(--first-hue), var(--sat), var(--lig), 1), hsla(var(--first-hue), var(--sat), var(--lig), 0.2));
  box-shadow: 0 0 16px hsla(var(--first-hue), var(--sat), var(--lig), 0.4);
  color: var(--title-color);
  border-radius: 2rem 2rem 0 0;
  transform: translateY(1rem);
  transition: 0.5s;
}
.nav__list .nav__link.active .tab-item-inner {
  transform: translateY(-2rem);
  z-index: 2;
  color: var(--title-color);
  box-shadow: 0 -5px 16px hsla(var(--first-hue), var(--sat), var(--lig), 0.4);
  background: linear-gradient(180deg, hsla(var(--first-hue), var(--sat), var(--lig), 1), hsla(var(--first-hue), var(--sat), var(--lig), 0.2));
  transition: 0.4s;
  transition-delay: 0.1s;
}

/* Change background header */
.scroll-header {
  box-shadow: 0 4px 4px hsla(0deg, 0%, 30%, 0.3);
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

/* ========= language-theme */
.language-theme {
  position: relative;
  display: flex;
  align-items: center;
}

/* ========= icons-language */
.icons-language .icon-lang {
  height: 1.7rem;
  margin-right: 0.5rem;
}

.icons-language img.icon-lang,
.icons-language .icon-lang.br.down {
  transform: translateY(-0.15rem);
  cursor: pointer;
  transition: 0.5s;
}

.icons-language .icon-lang.br.down {
  transform: translateY(-1rem);
}

.icons-language .icon-lang.br {
  position: absolute;
}

.icons-language .icon-lang.br,
.icons-language .icon-lang.br.up,
.icons-language .icon-lang.eua.up {
  transform: translateY(-5rem);
}

/* ========= theme-icons */
.theme-icons {
  padding-right: 2rem;
}

.theme-icons .bx.bx-moon,
.theme-icons .bx.bx-sun.disable {
  display: none;
}

.theme-icons .bx.bx-moon.active {
  display: block;
}

.change-theme {
  position: relative;
  font-size: 1.4rem;
  transition: 0.3s;
  cursor: pointer;
}
.change-theme:hover {
  color: var(--first-color);
}

.footer {
  background-color: var(--first-color);
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}

.footer__container {
  padding: 2rem 0 6rem;
}

.footer__title,
.footer__link {
  color: var(--body-color);
}

.footer__title {
  text-align: center;
  margin-bottom: 2rem;
}

.footer__list,
.footer__social {
  display: flex;
  justify-content: center;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}

.footer__list {
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  margin-bottom: 2rem;
}

.footer__social-link {
  background-color: var(--body-color);
  color: var(--first-color);
  padding: 0.25rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  display: inline-flex;
}

.footer__copy {
  display: block;
  margin-top: 4.5rem;
  color: var(--container-color);
  text-align: center;
  font-size: var(--smaller-font-size);
}

.home__container {
  position: relative;
  row-gap: 4.5rem;
  padding-top: 2rem;
}

.home__data {
  text-align: center;
}

.home__greeting,
.home__education {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.home__greeting {
  display: block;
  color: var(--title-color);
  margin-bottom: 0.25rem;
}

.home__education {
  color: var(--text-color);
  margin-bottom: 2.5rem;
}

.home__name {
  font-size: var(--biggest-font-size);
}

.home__img {
  width: 160px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.home__handle {
  justify-self: center;
  width: 190px;
  height: 293px;
  border-radius: 10rem 10rem 1rem 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(180deg, hsla(var(--first-hue), var(--sat), var(--lig), 1), hsla(var(--first-hue), var(--sat), var(--lig), 0.2));
}

.home__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.home__social,
.home__scroll {
  position: absolute;
}

.home__social {
  bottom: 5rem;
  left: 1rem;
  display: grid;
  row-gap: 0.8rem;
}

.home__social-link {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: var(--container-color);
  color: var(--first-color);
  padding: 0.4rem;
  border-radius: 0.25rem;
  display: flex;
  font-size: 1.2rem;
  transition: 0.4s;
}

.home__social-link:hover {
  background-color: var(--first-color);
  color: #fff;
}

.home__social::after {
  content: "";
  width: 32px;
  height: 2px;
  background-color: var(--first-color);
  transform: rotate(90deg) translate(16px, 0px);
}

.home__scroll {
  color: var(--first-color);
  right: 0;
  bottom: 8.8rem;
  display: grid;
  row-gap: 2.25rem;
  justify-items: center;
}

.home__scroll-icon {
  font-size: 1.25rem;
}

.home__scroll-name {
  font-size: var(--small-font-size);
  transform: rotate(-90deg);
}

/*=============== ABOUT ===============*/
.about__container {
  row-gap: 2.5rem;
}

.about__img {
  width: 220px;
  border-radius: 1.5rem;
  justify-self: center;
}

.about__data {
  text-align: center;
}

.about__info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.about__box {
  background-color: var(--container-color);
  border-radius: 0.75rem;
  padding: 0.75rem 0.5rem;
}

.about__icon {
  font-size: 1.5rem;
  color: var(--first-color);
  margin-bottom: 0.5rem;
}

.about__title {
  font-size: var(--small-font-size);
}

.about__subtitle {
  text-align: left;
  font-size: var(--tiny-font-size);
}

.about__description {
  margin-bottom: 2rem;
  text-align: left;
}

.skills__container {
  row-gap: 0;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

.skills__content {
  background-color: var(--container-color);
  padding: 2rem;
  border-radius: 1.25rem;
  margin-bottom: 2rem;
}

.skills__header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.skills__close .skills__list {
  padding: 0;
  height: 0;
  overflow: hidden;
}

.skills__open .skills__header {
  margin-bottom: 1.5rem;
}

.skills__open .skills__list {
  padding: 2rem 0;
  margin-bottom: 1rem;
}

.skills__open .skills__arrow {
  transform: rotate(-180deg);
}

.skills__icon,
.skills__arrow {
  font-size: 2rem;
  color: var(--first-color);
}

.skills__icon {
  margin-right: 0.75rem;
}

.skills__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--first-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.skills__subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.skills__arrow {
  margin-left: auto;
  transition: 0.4s;
}

.skills__list {
  row-gap: 1.5rem;
  transition: 0.5s;
}

.skills__titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.skills__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills__bar,
.skills__percentage {
  height: 5px;
  border-radius: 0.25rem;
}

.skills__bar {
  background-color: var(--first-color-lighter);
}

.skills__percentage {
  display: block;
  background-color: var(--first-color-alt);
  -webkit-animation: changecolorBar 1.4s linear infinite;
          animation: changecolorBar 1.4s linear infinite;
  filter: brightness(1);
}

@-webkit-keyframes changecolorBar {
  50% {
    filter: brightness(0.5);
  }
}

@keyframes changecolorBar {
  50% {
    filter: brightness(0.5);
  }
}
.skills__html {
  width: 90%;
}

.skills__sasscompass {
  width: 80%;
}

.skills__js {
  width: 70%;
}

.skills__react {
  width: 70%;
}

.skills__rn {
  width: 50%;
}

.skills__postgrebd {
  width: 60%;
}

.skills__postgresql {
  width: 60%;
}

.skills__bdsql {
  width: 40%;
}

.skills__spring {
  width: 70%;
}

.skills__node {
  width: 40%;
}

.skills__tsorm {
  width: 70%;
}

.skills__java {
  width: 50%;
}

.skills__php {
  width: 30%;
}

.skills__figma {
  width: 65%;
}

.skills__canva {
  width: 60%;
}

.skills__photoshop {
  width: 40%;
}

.skills__gitgithub {
  width: 80%;
}

.skills__cicd {
  width: 60%;
}

.skills__performance {
  width: 60%;
}

.skills__poo {
  width: 50%;
}

.skills__gulp {
  width: 40%;
}

.skills__bw {
  width: 20%;
}

.services__container {
  grid-template-columns: repeat(1, 230px);
  justify-content: center;
  gap: 1.5rem;
  padding-top: 1rem;
}

.services__card {
  background-color: transparent;
  padding: 3rem 2rem 1.5rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
  transition: 0.5s;
  box-shadow: 0 1px 5px hsla(var(--aux-hue), var(--aux-sat), var(--aux-lig), 1);
}
.services__card:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0px 0.5rem 12px hsla(var(--first-hue), var(--sat), var(--lig), 1);
}

.services__title {
  font-size: var(--h3-font-size);
  margin-bottom: 2.5rem;
}

.services__button {
  color: var(--first-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.services__button:hover .services__icon {
  transform: translateX(0.25rem);
}

.services__icon {
  font-size: 1rem;
  transition: 0.4s;
}

/* Services modal */
body.ReactModal__Body--open {
  overflow-y: hidden;
}

.services__modal {
  position: fixed;
  inset: 0;
  background-color: hsla(var(--second-hue), 28%, 16%, 0.7);
  padding: 2rem 1rem;
  display: grid;
  place-items: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
  z-index: var(--z-modal);
}

.services__modal-content {
  position: relative;
  background-color: var(--body-color);
  padding: 5rem 55rem 4rem 4rem;
  border-radius: 1.5rem;
}

.services__modal-title,
.services__modal-description {
  text-align: center;
}

.services__modal-title {
  font-size: var(--h3-font-size);
  color: var(--aux-color);
  margin-bottom: 1rem;
}

.services__modal-description {
  font-size: var(--small-font-size);
  margin-bottom: 2rem;
}

.services__modal-list {
  display: grid;
  row-gap: 0.75rem;
}

.services__modal-item {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}

.services__modal-icon {
  font-size: 1.5rem;
  color: var(--first-color);
  filter: contrast(200%);
}

.services__modal-info {
  font-size: var(--small-font-size);
}

.services__modal-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--first-color);
  cursor: pointer;
}

.work__container {
  padding-top: 1rem;
}

.work__filters {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  margin-bottom: 2rem;
}

.work__item {
  cursor: pointer;
  color: var(--title-color);
  padding: 0.25rem 0.75rem;
  font-weight: var(--font-medium);
  border-radius: 0.5rem;
}

.work__card {
  background-color: var(--container-color);
  padding: 1rem;
  border-radius: 1rem;
}

.work__img {
  border-radius: 1rem;
  margin-bottom: 0.75rem;
}

.work__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 0.25rem;
}

.work__button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: var(--first-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
}

.work__button:hover .work__icon {
  transform: translateX(0.25rem);
}

.work__icon {
  font-size: 1rem;
  transition: 0.4s;
}

/* Active item work*/
.active-work {
  background-color: var(--first-color);
  color: var(--body-color);
}

.testimonial__card {
  background-color: var(--container-color);
  padding: 1.25rem 1.5rem;
  border-radius: 1.5rem;
  margin-bottom: 3rem;
}

.testimonial__img {
  width: 60px;
  border-radius: 3rem;
  margin-bottom: 1rem;
}

.testimonial__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 0.25rem;
}

.testimonial__description {
  font-size: var(--small-font-size);
}

/* Swiper class */
.swiper-pagination-bullet {
  background-color: var(--text-color-light);
}

.swiper-pagination-bullet-active {
  background-color: var(--first-color);
}

.contact__container {
  row-gap: 3rem;
  padding-bottom: 3rem;
}

.contact__title {
  text-align: center;
  font-size: var(--h3-font-size);
  margin-bottom: 1.5rem;
}

.contact__info {
  display: grid;
  gap: 1rem;
}

.contact__card {
  background-color: var(--container-color);
  padding: 3rem;
  border-radius: 0.75rem;
  text-align: center;
}

.contact__card-icon {
  font-size: 2rem;
  color: var(--title-color);
  margin-bottom: 0.25rem;
}

.contact__card-title,
.contact__card-data {
  font-size: var(--small-font-size);
}

.contact__card-title {
  font-weight: var(--font-medium);
}

.contact__card-data {
  display: block;
  margin-bottom: 0.75rem;
}

.contact__button {
  color: var(--first-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
}

.contact__button:hover .contact__button-icon {
  transform: translateX(0.25rem);
}

.contact__button-icon {
  font-size: 1rem;
  transition: 0.4s;
}

.contact__form-div {
  position: relative;
  margin-bottom: 2rem;
  height: 4rem;
}

.contact__form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--text-color-light);
  background: none;
  color: var(--text-color);
  outline: none;
  padding: 1.5rem;
  border-radius: 0.75rem;
}

.contact__form-tag {
  position: absolute;
  top: -0.75rem;
  left: 1.25rem;
  font-size: var(--smaller-font-size);
  padding: 0.25rem;
  background-color: var(--body-color);
  z-index: 1;
}

.contact__form-area {
  height: 11rem;
}

.contact__form-area textarea {
  resize: none;
}

.popover {
  position: fixed;
  bottom: 6rem;
  right: 1rem;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  color: #fff;
  z-index: var(--z-modal);
}

.popover__btn {
  background-color: var(--first-color);
  border-radius: 50rem;
  padding: 0.5rem;
  color: #fff;
  display: flex;
  align-items: center;
  opacity: 0.6;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}
.popover__btn:hover {
  opacity: 1;
}

.popover__widgetForm {
  position: relative;
  padding: 1rem;
  width: 100vw;
  bottom: -8.5rem;
  right: -1rem;
  border-radius: 1.5rem 1.5rem 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: hsl(var(--second-hue), 32%, 16%);
  box-shadow: 0.1rem 0.1rem 0.8rem rgba(0, 0, 0, 0.3);
  z-index: var(--z-modal);
}

.widgetForm__feedbackTypeBtn {
  background-color: hsl(var(--second-hue), 32%, 8%);
  border-radius: 0.5rem;
  padding: 1.25rem 0;
  display: flex;
  flex: 1 1 0%;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  border: 2px solid transparent;
}
.widgetForm__feedbackTypeBtn:hover, .widgetForm__feedbackTypeBtn:focus {
  border-color: var(--first-color);
  outline: none;
}

/* For small devices */
@media screen and (max-width: 320px) {
  .nav__menu {
    padding: 1rem 1.5rem;
  }
  .home__buttons {
    flex-direction: column;
  }
  .home__handle {
    width: 150px;
    height: 253px;
  }
  .home__img {
    width: 130px;
  }
  .about__info {
    grid-template-columns: repeat(2, 1fr);
  }
  .skills__title {
    font-size: var(--normal-font-size);
  }
  .services__container {
    grid-template-columns: 145px;
    justify-content: center;
  }
  .work__item {
    font-size: var(--small-font-size);
  }
  .work__filters {
    -moz-column-gap: 0.25rem;
         column-gap: 0.25rem;
  }
}
/* For medium devices */
@media screen and (min-width: 576px) {
  .popover {
    right: 1.25rem;
  }
  .popover__widgetForm {
    width: 25rem;
    bottom: 0;
    right: 0;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }
  .nav__menu {
    width: 328px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .about__info {
    grid-template-columns: repeat(3, 140px);
    justify-content: center;
  }
  .about__description {
    padding: 0 5rem;
  }
  .skills__list {
    padding-left: 2.7rem;
  }
  .services__container {
    grid-template-columns: repeat(2, 230px);
  }
  .services__modal-content {
    width: 500px;
    padding: 4.5rem 2.5rem 2.5rem;
  }
  .services__modal-description {
    padding: 0 3.5rem;
  }
  .work__container {
    justify-content: center;
  }
  .work__img {
    width: 295px;
  }
  .contact__info {
    grid-template-columns: 300px;
    justify-content: center;
  }
  .contact__form {
    width: 360px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding: 6.5rem 0;
  }
  .popover {
    margin-bottom: -3rem;
    right: 3rem;
  }
  .popover__btn {
    opacity: 1;
    padding: 0.875rem;
  }
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .skills__list {
    padding-left: 0;
  }
  .work__container {
    grid-template-columns: repeat(2, -webkit-max-content);
    grid-template-columns: repeat(2, max-content);
  }
  .contact__container {
    grid-template-columns: repeat(2, -webkit-max-content);
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
}
/* For large devices */
@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .section {
    padding: 6.5rem 0 1rem;
    padding-bottom: 10rem;
  }
  .section__title {
    margin-bottom: 3.5rem;
  }
  .nav {
    height: calc(var(--header-height) + 1rem);
  }
  .nav__brand {
    transform: scale(1.1);
  }
  .home__handle {
    width: 290px;
    height: 400px;
  }
  .home__img {
    width: 220px;
  }
  .home__social {
    row-gap: 0.5rem;
  }
  .home__social::after {
    transform: rotate(90deg) translate(16px, 4.3px);
  }
  .home__social-link {
    padding: 0.25rem;
    font-size: 1rem;
  }
  .home__scroll-icon {
    font-size: 2rem;
  }
  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    -moz-column-gap: 4rem;
         column-gap: 4rem;
  }
  .about__img {
    width: 350px;
  }
  .about__data {
    text-align: initial;
  }
  .about__info {
    justify-content: initial;
  }
  .about__box {
    text-align: center;
    padding: 1rem 1.25rem;
  }
  .about__description {
    padding: 0 1.5rem 0 0;
    margin-bottom: 2.5rem;
  }
  .skills__list {
    padding-left: 2.7rem;
  }
  .services__container {
    grid-template-columns: repeat(3, 16rem);
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
  .services__card {
    padding: 5rem 2rem 1.5rem;
  }
  .work__container {
    gap: 3rem;
  }
  .work__card {
    padding: 1.25rem;
  }
  .work__img {
    margin-bottom: 1rem;
  }
  .work__title {
    margin-bottom: 0.5rem;
  }
  .testimonial__container {
    width: 750px;
  }
  .testimonial__card {
    padding: 1.5rem 2rem;
  }
  .contact__container {
    -moz-column-gap: 6rem;
         column-gap: 6rem;
  }
  .footer__social-link {
    font-size: 1.25rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
  }
}/*# sourceMappingURL=style.css.map */