@import './base/start/vars';
@import './base/start/reset';

@import './base/theme';
@import './base/reusable';
@import './base/buttons';

@import '../../components/Header/header';
@import '../../components/Footer/footer';

@import '../../components/sections/Home/home';
@import '../../components/sections/About/about';
@import '../../components/sections/Skills/skills';
@import '../../components/sections/Services/services';
@import '../../components/sections/Work/work';
@import '../../components/sections/Testimonials/testimonials';
@import '../../components/sections/Contact/contact';
@import '../../components/WidgetFeedback/widget-feedback';

@import './helpers/breakpoints'; 