.skills__container{
   row-gap: 0;
   column-gap: 2rem;
}

.skills__content
{
   background-color: var(--container-color);
   padding: 2rem;
   border-radius: 1.25rem;
   margin-bottom: 2rem;
}
 
.skills__header{
   display: flex;
   align-items: center;
   cursor: pointer;
}

.skills__close .skills__list{
   padding: 0;
   height: 0;
   overflow: hidden;
}

.skills__open .skills__header{
   margin-bottom: 1.5rem;
}

.skills__open .skills__list{
   padding: 2rem 0;
   margin-bottom: 1rem;

}

.skills__open .skills__arrow{
   transform: rotate(-180deg);
}

.skills__icon,
.skills__arrow{
   font-size: 2rem;
   color: var(--first-color);
}

.skills__icon{
   margin-right: .75rem;
}

.skills__title{
   font-size: var(--normal-font-size);
   font-weight: var(--font-medium);
   color: var(--first-color);
   text-align: center;
   margin-bottom: 1.5rem;
}

.skills__subtitle{
   font-size: var(--small-font-size);
   color: var(--text-color-light);
} 

.skills__arrow{
   margin-left: auto;
   transition: .4s;
}

.skills__list{
   row-gap: 1.5rem;
   transition: .5s;
}

.skills__titles{
   display: flex;
   justify-content: space-between;
   margin-bottom: .5rem;
}

.skills__name{
   font-size: var(--normal-font-size);
   font-weight: var(--font-medium);
}

.skills__bar,
.skills__percentage{
   height: 5px;
   border-radius: .25rem;
}

.skills__bar{
   background-color: var(--first-color-lighter);
}

.skills__percentage{
   display: block;
   background-color: var(--first-color-alt);
   animation: changecolorBar 1.4s linear infinite;
   filter: brightness(1);
}

@keyframes changecolorBar {
   50% {
      filter: brightness(.5);
   }
}

// card 1
.skills__1{ width: 95%; }
.skills__2{ width: 80%; }
.skills__3{ width: 70%; }
.skills__4{ width: 70%; }
.skills__5{ width: 30%; }
.skills__6 { width: 50%; }
.skills__7{ width: 65%; }

// card 2
.skills__8{ width: 65%; }
.skills__9{ width: 40%; }
.skills__10{ width: 65%; }
.skills__11{ width: 90%; }
.skills__12{ width: 98%; }
.skills__13{ width: 65%; }
.skills__14{ width: 50%; }
.skills__15{ width: 40%; }

// card 3
.skills__16{ width: 90%; }
.skills__17{ width: 30%; }
.skills__18{ width: 70%; }
.skills__19{ width: 30%; }
.skills__20{ width: 65%; }
.skills__21{ width: 40%; }  
.skills__22{ width: 75%; }  
.skills__23{ width: 70%; }

// card 4
.skills__24{ width: 75%; }
.skills__25{ width: 55%; }
.skills__26{ width: 85%; }
.skills__27{ width: 80%; }
.skills__28{ width: 75%; }
.skills__29{ width: 55%; }
.skills__30{ width: 90%; }
.skills__31{ width: 65%; }
