.footer
{
  background-color: var(--first-color);
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}
.footer__container
{
  padding: 2rem 0 6rem;
}
.footer__title,
.footer__link
{
  color: var(--body-color);
}
.footer__title
{
  text-align: center;
  margin-bottom: 2rem;
}
.footer__list,
.footer__social
{
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
}
.footer__list
{
  column-gap: 1.5rem;
  margin-bottom: 2rem;
}
.footer__social-link
{
  background-color: var(--body-color);
  color: var(--first-color);
  padding: .25rem;
  border-radius: .25rem;
  font-size: 1rem;
  display: inline-flex;
}
.footer__copy 
{
  display: block;
  margin-top: 4.5rem;
  color: var(--container-color);
  text-align: center;
  font-size: var(--smaller-font-size);
}